language: java
jdk: openjdk8
jobs:
  include:
    - stage: javac
      script:
        - mvn clean install
    - stage: ECJ 3.17.0
      script:
        - mvn clean install -Dversion.ecj=3.18.0
cache:
  directories:
    - $HOME/.m2
install:
  - mvn clean install
before_cache:
  # Do not put the artifacts we just built into the cache
  - rm -r $HOME/.m2/repository/org/hibernate/eclipse/bugs/
